/*=============================================
=            CSS Reset            =
=============================================*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  /* border: 1px solid red; */
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: #e7e0e9;
  color: #211925;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/*=============================================
  =            Main page CSS            =
  =============================================*/

a {
  color: #00c9b5;
  position: relative;
  text-decoration: none;
  z-index: 999;
  padding: 0.5rem;
}

a::before {
  background: #ce7886;
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

a:hover {
  color: #55414a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3179a0;
}

/*----------  Nav bar ----------*/

nav {
  width: 100%;
  display: flex;
  background: #55414a;
  align-items: center;
  color: #e7e0e9;
  flex-flow: column;
  place-content: center center;
  gap: 1rem;
  padding: 1rem 0;
}

.navmenu {
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0;
  gap: 0.5rem;
}

/*----------  Header  ----------*/

header {
  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url(https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.header-text {
  max-width: 40%;
}

/*----------  Main section  ----------*/

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem 2rem;
  margin: 0 auto;
  padding: 0 2rem;
}

main .item {
  display: flex;
  flex-flow: column;
  place-content: center center;
  align-items: center;
  gap: 0.5rem;
}

.item i {
  color: #f8a090;
}

.item img {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.description {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.description img {
  max-width: 400px;
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

/*----------  Footer  ----------*/

footer {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  background: #55414a;
  color: #e7e0e9;
  align-items: center;
  flex-flow: column;
  place-content: center center;
  gap: 1rem;
  padding: 2rem 1rem;
}

footer hr {
  width: 80%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(249, 248, 113, 0),
    rgba(249, 248, 113, 0.75),
    rgba(249, 248, 113, 0)
  );
}

/*----------  Responsive layout  ----------*/

@media screen and (min-width: 700px) {
  nav {
    flex-flow: row wrap;
    place-content: center space-between;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .navmenu {
    flex-flow: row wrap;
    gap: 1rem;
  }
  header {
    justify-content: flex-start;
    padding-left: 3rem;
    text-align: left;
  }
  main {
    grid-template-columns: repeat(3, 1fr);
    max-width: 90%;
    row-gap: 3rem;
  }
  .description {
    grid-column: 1 / 4;
    flex-flow: row;
    gap: 1rem;
    text-align: left;
  }
}
